.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
<<<<<<< HEAD
=======
    
>>>>>>> 23132e18e5e99ceff2cc754f4ff6ce73fc5cbf16
}

.Logo {
    height: 80%;
<<<<<<< HEAD
=======
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
>>>>>>> 23132e18e5e99ceff2cc754f4ff6ce73fc5cbf16
}